/* Map container styling */
.leaflet-container {
    height: 70vh;
    width: 100%;
    border-radius: 8px;
  }
  .adminwrapper{
    overflow: hidden;
  }
  .adminwrapper .admin-top{
    display: flex;
    gap: 50%;
    }
  /* Container for buttons, positioning at the top left corner */
  .a-button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    z-index: 2000;
    height: 5vh;
    align-items: center;
  }

  /* Styling for the input field */
  input[type="text"] {
    padding: 8px; /* Reduced padding for a cleaner look */
    border-radius: 4px;
    font-size: 0.9em; /* Adjusted font size */
    width: 220px; /* Width of the input field */
  }
  
  /* Styling for the popup content */
  .leaflet-popup-content {
    font-size: 0.9em;
    line-height: 1.4;
    color: #333;
  }
  
  /* Styling for the delete button inside the popup */
  .leaflet-popup-content button {
    background-color: #dc3545; /* Red background */
    color: white; /* White text */
    border: none;
    padding: 4px 8px; /* Compact padding */
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.85em;
  }
  
  /* Hover effect for the delete button */
  .leaflet-popup-content button:hover {
    background-color: #c82333; /* Darker red when hovering */
  }
  
  @media (max-width: 768px){
    .leaflet-container {
      height: 75vh;
      width: 50%;
      border-radius: 8px;
    }
    .adminwrapper{
      overflow: scroll;
    }

     /* Container for buttons, positioning at the top left corner */
    .adminwrapper .admin-top{
    display: flex;
    gap: 5%;
    height: 10%;
    }
    .adminwrapper .admin-top h2{
      font-size: 20px;
      }
  /* Container for buttons, positioning at the top left corner */
  .a-button-container {
    display: flex;
    flex-direction: column;
    z-index: 2000;
  }
  .a-button-container #desc-marker{
    width: 100%;
    
  }
}